<nav id="sidebarMenu" class="sidebar d-md-block bg-dark text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
      <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
        <div class="d-flex align-items-center">
          
          <div class="d-block">
            <h2 class="h5">
              {{ request.user.username }}
            </h2>
            <a href="{% url 'logout' %}" class="btn btn-secondary text-dark btn-xs"><span
                class="me-2"><span class="fas fa-sign-out-alt"></span></span>로그아웃</a>
          </div>
        </div>
        <div class="collapse-close d-md-none">
          <a href="#sidebarMenu" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation"></a>
        </div>
      </div>
      <ul class="nav flex-column pt-3 pt-md-0">
        <li class="nav-item">
          <a href="/" class="nav-link d-flex align-items-center">
            <span class="sidebar-icon">
              <span class="fas fa-grip-horizontal"></span></span>
            </span>
            <span class="mt-1 ms-1 sidebar-text">메인화면</span>
          </a>
        </li>
        <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
          <a href="/dashboard" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-book-open"></span></span>
            <span class="sidebar-text">과제목록</span>
          </a>
        </li>

        <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
          <a href="/lectureboard" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-chalkboard-teacher"></span></span>
            <span class="sidebar-text">강의목록</span>
          </a>
        </li>
        
        <li class="nav-item {% if 'bootstrap-tables' in segment %} active {% endif %}">
          <span
            class="nav-link  collapsed  d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse" data-bs-target="#submenu-app">
            <span>
              <span class="sidebar-icon"><span class="fas fa-table"></span></span>
              <span class="sidebar-text">강의게시판</span>
            </span>
            <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
          </span>
          <div class="multi-level collapse "
            role="list" id="submenu-app" aria-expanded="false">
            
            {% for i in lectures %}
              <ul class="flex-column nav">
                <li class="nav-item ">
                  <a class="nav-link" href="/board">
                    <span class="sidebar-text">{{i}}</span>
                  </a>
                </li>
              </ul>
            {% endfor %}


          </div>
        </li>
        
        
          
        <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
        <li class="nav-item">
          <a class="nav-link" href="/notice">
            <span class="sidebar-icon"><span class="fas fa-info-circle"></span></span>
            <span class="sidebar-text">공지사항</span>
          </a>
        </li>



        <li class="nav-item {% if 'ui-' in segment %} active {% endif %}">
          <span
            class="nav-link  collapsed  d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse" data-bs-target="#submenu-test">
            <span>
              <span class="sidebar-icon"><span class="fas fa-vial"></span></span>
              <span class="sidebar-text">실험실</span>
            </span>
            <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
          </span>
          <div class="multi-level collapse " role="list"
            id="submenu-test" aria-expanded="false">
            <ul class="flex-column nav">
              <li class="nav-item ">
                <a class="nav-link" href="/kakaotalk">
                  <span class="sidebar-text">카톡 과제 알림</span>
                </a>
              </li>
              
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  