{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}




<div class="row">
    <div class="col-12 col-xl-8 mb-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="h5">미 제출 과제</h2>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light text-center">
                                <tr>
                                    <th scope="col">강의 명</th>
                                    <th scope="col">내용</th>
                                    <th scope="col">제출기간</th>
                                    <th scope="col">남은기간</th>
                                </tr>
                            </thead>
                            <tbody>
                                <thead class="text-center">

                                    {% for i in inCompleteList %}
                                    {% with title=i.0%}


                                    <tr>
                                        <th scope="row">
                                            {{i.0}}
                                        </th>
                                        <th>
                                            &ensp;{{i.1}} {{i.2}}
                                        </th>
                                        <th>
                                            {{i.3}}
                                        </th>
                                        <th>
                                            {{i.5}}
                                        </th>
                                    </tr>
                                    {% endwith %}
                                    {% endfor %}
                                </thead>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-4 mb-4">

        <div class="col-12 px-0 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <h2 class="h5">과제 제출 내역</h2>
                    {% for i in completeList %}
                    <div class="d-block">
                        <div class="d-flex align-items-center pt-3 me-5">
                            <li class="list-group-item bg-white border-0 ps-0"><span class="icon-success me-2"><span
                                        class="fas fa-check-circle"></span></span>
                                <span class="text-primary fw-bold align-top">{{i.0}} {{i.1}} 과제</span>
                            </li>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}