{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}




<div class="row">
    <div class="col-12 col-xl-8 mb-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="h5">Page visits</h2>
                            </div>
                            <div class="col text-right">
                                <a href="#" class="btn btn-sm btn-secondary">See all</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Page name</th>
                                    <th scope="col">Page Views</th>
                                    <th scope="col">Page Value</th>
                                    <th scope="col">Bounce rate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        /demo/admin/index.html
                                    </th>
                                    <td>
                                        3,225
                                    </td>
                                    <td>
                                        $20
                                    </td>
                                    <td>
                                        <span class="fas fa-arrow-up text-danger me-3"></span> 42,55%
                                    </td>
                                </tr>
                                
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-4 mb-4">
        
        <div class="col-12 px-0 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                        <div>
                            <h6 class="mb-0"><span class="icon icon-xs me-3"><span
                                        class="fas fa-globe-europe"></span></span>Global Rank</h6>
                        </div>
                        <div>
                            <a href="#" class="text-primary fw-bold">#755<span
                                    class="fas fa-chart-line ms-2"></span></a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                        <div>
                            <h6 class="mb-0"><span class="icon icon-xs me-3"><span
                                        class="fas fa-flag-usa"></span></span>Country Rank</h6>
                            <div class="small card-stats">United States<span
                                    class="icon icon-xs text-success ms-2"><span class="fas fa-angle-up"></span></span>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="text-primary fw-bold">#32<span class="fas fa-chart-line ms-2"></span></a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between pt-3">
                        <div>
                            <h6 class="mb-0"><span class="icon icon-xs me-3"><span
                                        class="fas fa-folder-open"></span></span>Category Rank</h6>
                            <a href="#" class="small card-stats">Travel > Accomodation</a>
                        </div>
                        <div>
                            <a href="#" class="text-primary fw-bold">#16<span class="fas fa-chart-line ms-2"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 px-0 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <h2 class="h5">Acquisition</h2>
                    <p>Tells you where your visitors originated from, such as search engines, social networks or website
                        referrals.</p>
                    <div class="d-block">
                        <div class="d-flex align-items-center pt-3 me-5">
                            <div class="icon icon-shape icon-sm icon-shape-danger rounded me-3"><span
                                    class="fas fa-chart-bar"></span></div>
                            <div class="d-block">
                                <label class="mb-0">Bounce Rate</label>
                                <h4 class="mb-0">33.50%</h4>
                            </div>
                        </div>
                        <div class="d-flex align-items-center pt-3">
                            <div class="icon icon-shape icon-sm icon-shape-quaternary rounded me-3"><span
                                    class="fas fa-chart-area"></span></div>
                            <div class="d-block">
                                <label class="mb-0">Sessions</label>
                                <h4 class="mb-0">9,567</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}