{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    
    
</div>

<div class="col">
    <div class="card card-body shadow-sm mb-4">
        <h2 class="h5 mb-4">카카오톡 알림 기능</h2>
        
            <img class="rounded" src="/static/assets/img/team/kakaotalk.png" alt="kakaotalk">
            <br>
            <div class="fw-normal text-dark mb-1">개발중</div>
            <div class="text-gray small">현재 나에게 메세지 보내기만 가능</div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}