{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}




<div class="row">
    <div class="col-12 col-xl-4 mb-4">

        <div class="col-12 px-0 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <h2 class="h5">미 수강 강의 내역</h2>
                    {% for i in not_taken_lectures %}
                    <div class="d-block">
                        <div class="d-flex align-items-center pt-3 me-5">
                            <li class="list-group-item bg-white border-0 ps-0"><span class="icon-success me-2"><span
                                        class="fas fa-times-circle text-danger"></span></span>
                                <span class="text-primary fw-bold align-top">{{i|join:" "}}</span>
                            </li>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}